@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200;500&display=swap');

body{
  background-color: black;
  margin: 0;
}

* {
  box-sizing: border-box;
  color: white;
  border-color: rgb(45, 45, 45);
}

#main-container{
    display:grid;
    grid-template-columns:26.25% 40% 33.75%;
}

/*NavBar(Left Section)*/
.leftSectionBlock{
    position: fixed;
    left: 9vw;
    top:1.5vh;
}

.twitterLogo{
    color:rgb(29,155,240);
    font-size: 28px;
}
a.leftSectionIcons{
    display: flex;
    font-size: 22px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4.5vh;
}

/* LSIW stands for left section icon word */
.leftSectionIconWord{
    padding-left: 1.5vw;
}
.leftButtonItem{
    position: relative;
    top: 2.75vh;
    right: 1vw;
}
.leftButton{
    height: 8vh;
    width: 15.5vw;
    border-radius:40px;
    border-style:none;
    color: white;
    background-color: rgb(29,155,240);
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.25s;
}
.leftButton:hover{
    background-color: rgb(26, 140, 216);
}
.leftPersonalItem{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: 1vw;
    width: 17vw;
    height: 9vh;
    margin-top: 10vh;
    padding-top: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:50px;
    text-decoration: none;
    transition-duration: 0.25s;
}
.leftPersonalItem:hover{
    background-color: rgba(50, 50, 50, 0.5);
}
.leftPersonalPicture{
    width: 2.8vw;
    height: 6vh;
    border-radius: 50%;
    position: relative;
    bottom: 1vh;
    left:1vh;
}
.leftPersonalName{
    width:12vw;
    box-sizing: border-box;
    padding-left: 1vw;
    color:white;
}
.leftPersonalMention{
    padding-left: 4vw;
    padding-bottom: 2vh;
    color:gray;
    position: relative;
    bottom:3vh;
}
/*End of Nav Bar (Left Section)*/
/*=================================================================================================*/

/*Note ==> Middle Section Contains Two Sections Which Is The Upper Side And Down Side*/
.middleSection{
    border-style:none solid none solid;
    border-color: rgb(45, 45, 45);
    border-width: 0.25px;
}
/* Styling of the (UPPER SIDE) of the middle section*/
.upperSide{
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    height:7.5vh;
    border-style:none none solid none;
    border-width: 0.25px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    /* box-shadow: 0 20px 30px rgba(255, 255, 255,0.15); */
    z-index: 100;
}
.forYou, .following{
    width:50%;
    height:7.5vh; 
    text-align:center;
    color:rgb(115, 115, 115);
    font-size: 17px;
    text-decoration: none;
    padding: 2vh;
    font-family: 'Karla', sans-serif;
    transition-duration: 0.3s;
    cursor: pointer;
}
.forYou:hover, .following:hover{
    background-color:rgba(143, 143, 143, 0.25);
}

/*Note ==> The Down Side Contains some of items which are firstItem and commonItem
Styling of (DOWN SIDE) of the middle section*/

/*This is style of (firstItem) of down side*/
.firstItem{
    display: flex;
    flex-wrap: wrap;
    height:16vh;
    border-style:none none solid none;
    border-color: rgb(45, 45, 45);
    border-width: 0.25px; 
}
.commonImagePart{
    width: 10.8vh;
    height: 8vh;
    box-sizing: border-box;
    padding-left: 1.1vw;
    padding-top: 1.4vh;
}
.profileImage{
    width: 3.20vw;
    height: 6.8vh;
    border-radius: 50%;
}
.firstItemText{
    width: 50%;
    height: 8vh;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    color:rgb(95, 95, 95);
    box-sizing:border-box;
    padding-top:3vh;
}
.firstItemFonts{
    width: 50%;
    height: 8vh;
    box-sizing: border-box;
    padding-left:13.5%;
    padding-top: 3vh;
}
i.firstItemIcons{
    color:rgba(29,155,240,1);
    padding-right:8%;
}
.firstItemButton{
    width: 50%;
    height: 8vh;
    box-sizing: border-box;
    padding-left: 33.5%;
    padding-top: 2vh;
}
.tweetButton{
    font-size: 15px;
    height: 5vh;
    width: 5.15vw;
    border-style:none;
    border-radius:40px;
    background-color: rgba(29,155,240,0.5);
    color: white;
    font-family: 'Roboto', sans-serif;
}
/*End of the firstItem of down side
===================================================================*/
/* 
Note ==> item2 contains 3 parts which are item2Part1, item2Part2 and item2Part3
Styling of item2
*/
.commonItem{
    border-style:none none solid none;
    border-color: rgb(45, 45, 45);
    border-width: 0.25px; 
    display:grid;
    grid-template-columns:13% 82% 5%;
    font-family: 'Arvo', serif;
    transition-duration: 0.25s;
}

.commonItemImageOfLeftPart{
    box-sizing: border-box;
    padding-left: 1.1vw;
    padding-top: 1.4vh;
}
.commonImageOfLeftPart{
    width: 3.25vw;
    height: 6.8vh;
    border-radius: 50%;
}
.commonItemMiddlePart{
    display:flex;
    flex-wrap:wrap;
}
.commonItemMiddlePartUpper{
    width: 100%;
    height:4.7vh;
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 1.5vh;
    font-family: 'Sarabun', sans-serif;
}
.commonItemMiddlePartUpperRight{
    padding-left: 0.5vw;
    color:rgb(95, 95, 95); 
}
.commonItemMiddlePartUpperLeft:hover{
    text-decoration:underline;
}
.time:hover{
    text-decoration: underline;
}
.commonItemContentPart{
    width: 100%;
    font-family: 'Sarabun', sans-serif;
    box-sizing: border-box;
    padding-bottom: 1.5vh;
}
video{
    box-sizing: border-box;
    margin-top: 2vh;
    border-radius: 5%;

}
.commonItemLowerPart{
    width: 100%;
    height:4.25vh;
}
i.commonItemIcons{
    padding-right:8%;
    color: gray;
    position: relative;
}
.statistics1, .statistics2, .statistics3{
    font-size: 11px;
    box-sizing: border-box;
    padding-left: 1vw;
}
.hiddenBlock{
    display: inline;
    width: 2.5vw;
    height: 5vh; 
}
.h1{
    position: absolute;
    bottom:-1.45vh;
    right:4.75vw;
    border-radius: 50%;
    transition-duration: 0.25s;
}
.h2{
    position: absolute;
    bottom:-1.45vh;
    right:4.85vw;
    border-radius: 50%;
    transition-duration: 0.25s;
}
.h3{
    position: absolute;
    bottom:-1.45vh;
    right:5.15vw;
    border-radius: 50%;
    transition-duration: 0.25s;
}
.h4{
    position: absolute;
    bottom:-1.45vh;
    right:1.75vw;
    border-radius: 50%;
    transition-duration: 0.25s;
}
.h1:hover{
    background-color: rgb(29,155,240,0.1);
}

.h2:hover{
    background-color:rgba(125, 234, 125,0.2);
}

.h3:hover{
    background-color: rgba(245, 35, 105,0.1);
    color:rgb(245, 35, 105);
}

.h4:hover{
    background-color: rgb(29,155,240,0.1);
}
.Icon1:hover, .statistics1:hover{
    color:rgb(29,155,240);
    transition-duration: 0.25s;
    cursor: pointer;
}
.Icon2:hover, .statistics2:hover{
    color:rgb(67, 180, 67);
    transition-duration: 0.25s;
    cursor: pointer;
}
.Icon3:hover, .statistics3:hover{
    color:rgb(245, 35, 105);
    transition-duration: 0.25s;
    cursor: pointer;
}

.Icon4:hover{
    color:rgb(29,155,240);
    transition-duration: 0.25s;
    cursor: pointer;
}


/*(Right Part) of the middle section*/
.commonItemRightPart{
    position: relative;
    padding-top: 2vh;
    box-sizing: border-box;
    color:rgb(95, 95, 95);
}
.commonItemRightFont{
    position: absolute;
    width: 2.2vw;
    height: 4.4vh;
    border-radius:50%;
    top:1.05vh;
    right:0.4vw;
    transition-duration: 0.25s;
}
.commonItemRightFont:hover{
    background-color: rgba(29,155,240,0.1);
    color:rgb(29,155,240);
}
/*End Of (Right Part) of middle section*/


/*Styling Of (Right Section)*/

.unusedright{
    height: 150vh;
    position: sticky;
    top : 0;
}
.rightSection{
    height: 150vh;
    position: sticky;
    top : 0;
}
.rightBlock{
    height: 8vh;
    width: 26vw;
    align-items:center;
    position: sticky;
    top:0;
    background-color: black;
}
.right{
    width: 23vw;
    height: 7vh;
    background-color: rgb(32, 35, 40);
    border-radius: 25px;
    margin-left: 30px;
    padding: 12px 15px 18px 25px;
    font-size:20px ;
    color: #686868;
    margin-top: 0.65vh;
    position: fixed;
    top:0;
}
.underright{
    width: 23vw;
    height: 75  vh;
    margin: 11px 15px 0 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 43px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(37, 40, 41);
}
.classContainer:hover{
    background-color: rgb(10, 10, 10);
    transition-duration: 0.25s;
}
.class1, .class3, .class4, .class6, .class7, .class9, .class11, .class12{
    color: rgb(60, 62, 63);
    padding-left: 15px;
}
.class2, .class5, .class8, .class10{
    direction: rtl;
    color: white;
}
.class2,
.class5,
.class8,
.class10{
    padding-right: 10px;
}
.p1,
.p2,
.p3,
.p4{
    padding-right:15px;
    float: right;
    color: rgb(60, 62, 63);
}
.trending{
   
    /* display: inline-block; */
    /* margin-top: 0; */
}
/* under right 222222222222222
.underright2{
    width: 360px;
    height: 450px;
    background-color: rgb(29,155,240,0.1);
    margin: 450px;
    padding: 12px 15px 18px 80px;
} */

.what{
    display: inline-block;
    padding:1vh 0 0 1vw;
    font-size: 20px;
}
.underRightlower{
    padding: auto;
    height: 20vw;
    width: 23vw;
    margin-top: 2.2vh;
    margin-left:5vh;
    border-radius: 18px;
    border-width: 1px;
    border-color: rgb(37, 40, 41);
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.copyButton{
    font-size: 15px;
    height: 4.7vh;
    width: 5.15vw;
    border-style:none;
    border-radius:40px;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.followItem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 4vw;
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    margin-left: 0.5vw;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition-duration: 0.25s;
}
.follow:hover{
    background-color: rgb(10, 10, 10);
    transition-duration: 0.25s;
}
.lastAnkerItem{
    height: 2.5vw;
    margin-top: 1.5vh;
    padding-top: 1.35vh;
    padding-left: 1vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition-duration: 0.25s;
}